/* --- MÀN HÌNH 2: ADMIN DASHBOARD --- */
#menuPage {
  display: none; /* Mặc định ẩn */
  /* Căn giữa .admin-container bên trong nó */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 95vw;
}

.admin-container {
  display: flex;
  gap: 40px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  width: 100%;
  box-sizing: border-box;
}

.list-app-panel,
.list-process-panel,
.button-panel {
  flex: 1;
}

.list-app-panel,
.list-process-panel {
  display: none; /* Ẩn mặc định */
  flex-direction: column;
  gap: 20px;
}

.log-panel {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
}

.grid-items {
  display: grid;
  grid-template: 1fr 1fr;
  gap: 3px;
}

/* Log to bên phải */
.log-panel .log {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 8px;

  text-align: left;
  padding: 10px;
  font-size: 0.85rem;
  color: #94a3b8;
  border: 1px solid rgba(255, 255, 255, 0.05);

  overflow: hidden;
  min-height: fit-content; 
  max-height: 400px;
}

.log {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* --- Style cho các nút đặc biệt --- */
.btn-restart {
  background-color: #ca8a04 !important;
  color: #fff !important;
}
.btn-restart:hover {
  background-color: #a16207 !important;
}

.btn-shutdown {
  background-color: #f42121 !important;
  color: #fff !important;
}
.btn-shutdown:hover {
  background-color: #fd5151 !important;
}

.btn-back {
  background-color: #374151 !important; /* Màu xám */
  margin-top: 16px;
  width: 100%;
}
.btn-back:hover {
  background-color: #1f2937 !important;
}

.button .btn-back {
  margin-top: 15px; /* Một style khác cho nút back */
}

/* Container chứa ảnh screenshot */
#imageContainer {
  margin-bottom: 10px;
  text-align: center;
  display: none;
}

#minitorScreen {
  max-width: 100%;
  border: 2px solid #00ff00;
  border-radius: 5px;
}

button:has(span[data-state="on"]) {
  background-color: #FF4D4D; 
}

button:has(span[data-state="off"]) {
  background-color: #6C757D; 
  font-weight: 600;
}

#app-id-input,
#process-id-input,
#webcam-duration {
  width: 75px;
  padding: 8px;
  border-radius: 8px;

  background-color: #d2dbe7;
}

#app-id-input,
#process-id-input {
  width: 90%;
  height: auto;

  box-sizing: border-box;
}

.log-panel {
  width: auto;
  max-height: 80vh;
}

#processLogBox,
#listAppLogBox {
  display: none;
}